*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    
    background-color: #0A0A0A;
    background-size: cover;
    height: 189vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: rgb(145, 31, 222);
    font-size: 25px;
    font-family: 'alternate gothic';
    padding-left: 50px;
    float: left;
    padding-top: 20px;
    

}
logo a:hover{
    color: whitesmoke;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;

}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 26px;
}

ul li a{
    text-decoration: none;
    color: darkcyan;
    font-weight: hold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: yellow
}

